/*footer.css*/

/* Import CSS */

/* FOOTER SECTION */

.footer { /*footer container */
    height: 250px !important;
    color: red;
  }
  
  .footer-info {
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 10px 10.98256px 10.4564px rgba(0, 0, 0, 0.1);
  }
  
  
  .footer-icons { /* Icons Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-icons > .icon-1, .icon-2, .icon-3 { /* Icon horizontal spacing*/
    padding-left: 30px;
  }
  
  .copyright { /* copyright container */
    padding: 30px;
    background-color: darkgreen;
    color: #ffffff
  }