/*header.css*/

/* Import CSS */



/* NAV SECTION */

.nav-titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    /* border: 5px solid black; */
    height: 70px;    
    display: flex;    
    padding: 20px 36px;    
    box-shadow: 10px 10.98256px 10.4564px rgba(0, 0, 0, 0.1);
}

.nav-item {
    font-size: 30px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

/* CONTENT SECTION */
.title {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
   */