/* main.css */

/* Import CSS */
 @import 'header.css';
 @import 'layout.css';
 @import 'footer.css';
 @import 'blogs.css';
 @import 'posts.css'; /*Remove extra 's' */
 @import 'about.css';
 @import 'contact.css';
 
 
 /* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(94, 15, 15); */
    background-color: white;
    color: white;
    margin: 10px;
}
  
  /* SMALL SCREEN */
  .container{ 
    display:grid;
    grid-template-columns: 600px;
    grid-auto-rows: minmax(200px, auto);
    justify-items: stretch;
    border: 2px solid yellow;
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft";
    background-color: #ffffff;
   }
.box{
  border: 1px solid red;
  background: rgb(33, 174, 96);
  }
/* Assign grid area below */
.header{
  grid-area: hd;
  padding: 10px;
  
}
.footer{
  grid-area: ft;
}
.sidebar{
  grid-area: sd;
}
.content{
  grid-area: main;
}

  









/* MEDIUM SCREENS */
@media(min-width:800px) and (max-width:1100px){
  .container{
      display: grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid aquamarine;
      background-color: #ffffff;
  }
}  


/* LARGE SCREENS */
@media(min-width:1100px){
  .container{
      display: grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 350px 600px 70px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid red;
      background-color: #ffffff;
  }
}


#nestedGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  border: 3px solid white;
  /* grid-gap: */
}

.photoBox {
  width: 250px;
  height: 150px;
  border: 1px solid red;
  background-color: yellow;
}

#one {
  background-image: url("images/lamb.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#two {
  background-color: url();
  background-size: contain;
}



