  /* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(94, 15, 15); */
    background-color: white;
    color: white;
    margin: 10px;
}
  
  /* SMALL SCREEN */
  .container{ 
    display:grid;
    grid-template-columns: 600px;
    grid-auto-rows: minmax(200px, auto);
    justify-items: stretch;
    border: 2px solid yellow;
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft";
    background-color: #ffffff;
   }
.box{
  border: 1px solid red;
  background: rgb(33, 174, 96);
  }
/* Assign grid area below */
.header{
  grid-area: hd;
  padding: 10px;
  
}
.footer{
  grid-area: ft;
}
.sidebar{
  grid-area: sd;
}
.content{
  grid-area: main;
}

  
/* NAV SECTION */

.nav-titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    /* border: 5px solid black; */
    height: 70px;    
    display: flex;    
    padding: 20px 36px;    
    box-shadow: 10px 10.98256px 10.4564px rgba(0, 0, 0, 0.1);
}

.nav-item {
    font-size: 30px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

/* CONTENT SECTION */
.title {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}



/* SIDEBAR SECTION */

.sidebar {
  padding-left: 20px;
}

.sidebar-title > h2:hover {
  text-decoration: none;
  color: white;
}

.most-recent {
  color: red;
  font-weight: 900;
}

span {
  font-weight: 900;
  color: rgb(212, 50, 50);
}






/* MEDIUM SCREENS */
@media(min-width:800px) and (max-width:1100px){
  .container{
      display: grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid aquamarine;
      background-color: #ffffff;
  }
}  


/* LARGE SCREENS */
@media(min-width:1100px){
  .container{
      display: grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 350px 600px 70px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid red;
      background-color: #ffffff;
  }
}


#nestedGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  border: 3px solid white;
  /* grid-gap: */
}

.photoBox {
  width: 250px;
  height: 150px;
  border: 1px solid red;
  background-color: yellow;
}

#one {
  background-image: url("images/lamb.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#two {
  background-color: url();
  background-size: contain;
}



/* FOOTER SECTION */

.footer {
  height: 250px !important;
  color: red;
}

.footer-info {
  padding: 50px;
  margin-bottom: 60px;
  box-shadow: 10px 10.98256px 10.4564px rgba(0, 0, 0, 0.1);
}


.copyright {
  padding: 30px;
  background-color: darkgreen;
  color: #ffffff
}